<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{this_show.show_title}}</h1>
    <h3>Network:</h3>
    <p>{{this_show.network}}</p>
    <h3>Description:</h3>
    <p>{{this_show.description}}</p>
    <h3>Original Air Date:</h3>
    <p>{{this_show.date}}</p>

    | <a href="/edit/{{this_show.id}}">Edit </a> | <a href="/delete/{{this_show.id}}">Delete</a> |
</body>
</html>